<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kotlin">

    <!--网络访问-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--地理访问-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--X5-WebView-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".PotApp"
        android:allowBackup="true"
        android:icon="@drawable/icon_pot"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_pot"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.kotlin.activity.SplashActivity"
            android:screenOrientation="portrait">
            <!--android:theme="@style/Theme.AppStartLoad"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主页-->
        <activity
            android:name="com.kotlin.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--大图显示页-->
        <activity
            android:name="com.kotlin.activity.ImageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--城市选择页-->
        <activity
            android:name="com.kotlin.activity.ChoiceCityActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--美食列表页-->
        <activity
            android:name="com.kotlin.activity.CateListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--美食详情页-->
        <activity
            android:name="com.kotlin.activity.CateDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--X5WebView-->
        <activity
            android:name="com.kotlin.activity.X5WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--菜单管理页-->
        <activity
            android:name="com.kotlin.activity.WeChatCategoryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>
</manifest>